<% provide(:title, 'About') %>
<div class="hero-unit">
<h1>About Us</h1>
<p>Our goal at Beautify is to help you effortlessly discover artwork that you love on any device. We do this by delivering personalized artwork to your digital devices. As you tell us what you like, our recommendations will get better and better.</p>
<% if false %><p>To get started, just <%= link_to "create an account", signup_path %>!</p><% end %>
<p>To get in touch with us, shoot us an email at <a href="mailto:GetBeautify@gmail.com">GetBeautify@gmail.com</a>.</p>
</div>
