<% provide(:title, 'Devices') %>
<div id="devices">
  <h1>Beautify your Browser</h1>
  <div id="install" class="row">
    <div class="span5 offset1">
      <p>Beautify for Browser delivers gorgeous new images every time you open a new tab. Click below to start using Beautify today!</p>
      <%= render "install" %>
    </div>
    <div class="span5">
      <%= image_tag "laptop.jpg" %>
    </div>
  </div>
  <div id="checkback" class="row center">
    <p>If you're on a mobile device, you can access a limited version of Beautify <%= link_to "here", featured_path %>.</p>
    <p>Beautify for Mobile is coming soon!</p>
  </div>
</div>
