<% provide(:title, 'Feedback') %>
<div class="hero-unit">
<h1>Feedback</h1>
<p>Beautify is currently in beta testing and we're looking for as much feedback as possible. Please let us know what you think of our service - the good, the bad, the ugly, and the beautiful - by emailing us at <a href="mailto:GetBeautify@gmail.com">GetBeautify@gmail.com</a>.</p>
</div>
