<% provide(:extra_head) do %>
<style>
body {
  padding-top:0px;
  background-color: #DCE6F2;
}
</style>
<% end %>
<% provide(:hide_header, true) %>
<% provide(:hide_flash, true) %>
<% provide(:fluid, true) %>
<div class="home">
  <div class="row-fluid row-short row-white">
    <span class="span2 offset10">
      <%= link_to "Sign in", signin_path, id: "hlogin" %>
    </span>
  </div>
  <% if !flash.empty? %>
    <div class="row-fluid row-short row-white">
      <span class="span8 offset2">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
      </span>
    </div>
  <% end %>
  <div class="row-fluid row-title row-white">
    <%= image_tag "home.jpg", id: "img1" %>
    <h1 id="title">Beautify</h1>
    <h2 id="subtitle">Effortlessly discover images you love.</h2>
    <%= render "install" %>
  </div>
  <div class="row-fluid">
    <h1>Effortless discovery</h1>
    <span class="span3 offset2">
      <p>Beautify is a browser add-on that shows you a new image every time you open a tab in your browser. You don't need to spend precious time finding beautiful art, photography, and fashion - we do that for you!</p>
    </span>
    <span class="span5">
      <%= image_tag "any_device.jpg" %>
    </span>
  </div>
  <div class="row-fluid row-white">
    <h1>Images you love</h1>
    <span class="span5 offset2">
      <%= image_tag "image_collage.jpg" %>
    </span>
    <span class="span3">
      <p>Discover inspiration from the thousands of images, paintings, and photographs in our curated collection.</p>
    </span>
  </div>
  <div class="row-fluid">
    <h1>Personalized</h1>
    <span class="span3 offset2">
      <p>Love impressionism? Let us know. Want landscape photography? We’ve got that too. Pick the categories you want and ‘like’ your favorite images. We'll personalize the images you receive.</p>
    </span>
    <span class="span5">
      <%= image_tag "category_display.jpg" %>
    </span>
  </div>
  <div class="row-fluid row-last">
    <%= render "install" %>
  </div>
</div>
