<% provide(:title, 'Categories') %>
<div id="set_cats" class="center">
  <h1>Categories</h1>
  <h3>Please select the categories of images you'd like to receive.</h3>
  <h5>If you don't select any categories, we'll show you all of them! You can always change this later.</h5>
  <%= form_tag(savecategories_path, id: "saveCatsForm") do |l| %>
    <div class="row promotedTitle">Featured collections</div>
    <% promoted = [9,8,5] %>
    <div class="row promotedItems">
      <% promoted.each do |id| %>
        <%= render "source_button", source: Source.find(id), clicked: @source_settings.include?(id) %>
        <%= hidden_field_tag "srcSets[]", @source_settings.include?(id) ? id : "", id: "src_#{id}" %>
      <% end %>
    </div>
    <div class="row promotedLearn">
      <% promoted.each do |id| %>
        <div class="span3">
          <%= link_to "Learn more", Source.find(id), target: "_blank" %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <% Category.all.each do |cat| %>
        <%= render "category_button", category: cat, clicked: @category_settings.include?(cat.id) %>
        <%= hidden_field_tag "catSets[]", @category_settings.include?(cat.id) ? cat.id : "", id: "cat_#{cat.id}" %>
      <% end %>
    </div>
    <div class="row"><%= submit_tag "Save", class: "btn btn-large btn-primary", id: "cat_btn" %></div>
  <% end %>
</div>
