<div id="signupbase">
  <h1>Sign up</h1>
  <p id="subtitle">Please sign up for a Beautify account. After that, you'll be able to specify the types of images you want.</p>
  <%= link_to "Sign up with Facebook", "#", class: "btn btn-large btn-primary fbButton" %>
  <div class="or">or</div>
  <%= link_to "Sign up with an email address", new_user_path, class: "email" %>
  <%= image_tag "home.jpg", id: "collage" %>
  <%= form_for @user, html: { id: "userForm" } do |f| %>
    <%= f.hidden_field :name, id: "nameField" %>
    <%= f.hidden_field :email, id: "emailField" %>
    <%= f.hidden_field :password, id: "passwordField" %>
    <%= f.hidden_field :password_confirmation, id: "confirmField" %>
  <% end %>
</div>
