<% provide(:title, 'Terms of Service') %>
<div class="hero-unit">
<h1>Terms of Service</h1>
<p>Artist descriptions are used under the Creative Commons Attribution Share-Alike license (CC-BY-SA). The text of the license is available <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">here</a>.</p>
<p>Artwork used by Beautify is in affiliation with Art.com.</p>
<p>Photograph on home page is under the following license:
© Benh Lieu Song / Wikimedia Commons / <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-BY-SA-3.0</a> / <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_the_GNU_Free_Documentation_License" target="_blank">GFDL</a>.</p>
</div>
