<% provide(:title, 'Unsupported Browser') %>
<div class="center">
<h2 style="padding-top:50px;">Unsupported Browser</h2>
  <p>Unfortunately, we do not currently support the browser user are using. <a href="https://www.google.com/chrome" target="_blank">Please install Google Chrome</a>.</p>
  <img alt="Home" id="img1" src="/assets/home.jpg" style="padding-bottom: 20px; height: 400px;" >
  <p>If you're on a mobile device, you can access a limited version of Beautify <%= link_to "here", featured_path %>.</p>
  <p>Beautify for Mobile is coming soon!</p>
</div>
