<% if flash.now[:error].nil? %>
  $("#loginModal").modal("hide");
<% else %>
  $("#loginErr").html("<%= escape_javascript(content_tag(:div, flash.now[:error], class: "alert alert-error")) %>");
<% end %>
