<% provide(:title, "Sign in") %>
<div class="signin">
  <h1>Beautify</h1>
  <%= link_to "Sign in with Facebook", "#", class: "btn btn-large btn-primary fbButton" %>
  <%= form_for(:session, url: sessions_path, html: { id: "sessionForm" }) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email, id: "emailField" %>
    <%= f.label :password %>
    <%= f.password_field :password, id: "passwordField" %>
    <%= f.submit "Sign in", class: "btn btn-large" %>
  <% end %>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
