<div class="srcDiv">
  <div class="srcName"><%= source.name %></div>
  <div class="srcDesc"><%= source.description.html_safe %></div>
  <div class="srcLink"><%= link_to "Visit site", source.link, target: "_blank" %></div>
</div>
<%= render source.images %>
