<div class="artistDiv">
  <div class="artistName"><%= artist.name %></div>
  <div class="artistInfo"><%= artist.info %></div>
  <div class="artistLink"><%= link_to "Learn more", artist.link, target: "_blank" %></div>
</div>
<%= render artist.images.first(15) %>
