<div dir="ltr"><div style="font-family:arial,sans-serif;font-size:13px;color:rgb(40,40,40)"><blockquote style="margin:0px;border:none;padding:0px"><div style="background-color:rgb(48,48,48);padding:2px 30px"><a href="https://www.getbeautify.com/" target="_blank" style="border:0px solid rgb(255,255,255);float:left;text-decoration:none"><br>
<font color="#ffffff" face="georgia, serif" size="6">Beautify</font></a></div></blockquote><blockquote style="margin:0px;border:none;padding:0px"><div style="color:rgb(51,51,51);font-size:12px;background-color:rgb(48,48,48);padding:2px 16px">
<div style="clear:both">&nbsp;</div></div></blockquote><blockquote style="margin:0px;border:none;padding:0px"><div style="color:rgb(51,51,51);font-size:12px;clear:both;padding:16px 30px"><h1 style="font-weight:normal;line-height:1.14;margin:16px 0px 24px">
Welcome to Beautify, <%= @user.name %>!</h1><div><span style="color:rgb(34,34,34);font-family:arial;font-size:small">Our goal is to help you effortlessly discover images you love, whether you want Monets, fashion or photography.</span><span style="color:rgb(34,34,34);font-family:arial;font-size:small">To get the most out of <a href="https://www.getbeautify.com/" target="_blank">Beautify</a>, just follow these steps:</span><div style="color:rgb(34,34,34);font-family:arial;font-size:small">&nbsp;
</div><div style="color:rgb(34,34,34);font-family:arial;font-size:small"><b>1 Get Beautify for your browser</b></div><div style="color:rgb(34,34,34);font-family:arial;font-size:small">For the full experience, <b>install Beautify</b> on your laptop or PC browser</div>
<div style="color:rgb(34,34,34);font-family:arial;font-size:small">&nbsp;</div><div style="color:rgb(34,34,34);font-family:arial;font-size:small"><b>2 Personalize your experience</b></div><div style="color:rgb(34,34,34);font-family:arial;font-size:small">
&#39;Like&#39; images to save them to your Beautify history</div><div style="color:rgb(34,34,34);font-family:arial;font-size:small">&nbsp;</div><div style="color:rgb(34,34,34);font-family:arial;font-size:small"><b>3 Share!</b></div>
<div style="color:rgb(34,34,34);font-family:arial;font-size:small">Use the share button to let others see the images you love</div></div></div></blockquote><blockquote style="margin:0px;border:none;padding:0px"><div style="color:rgb(51,51,51);font-size:12px;clear:both;padding:16px 30px">
<div style="color:rgb(34,34,34);font-family:arial;font-size:small"><a href="https://www.getbeautify.com/" target="_blank" style="color:rgb(255,255,255);font-family:arial,sans-serif;border:0px solid rgb(255,255,255);font-size:1.1em;font-weight:bold;line-height:2.4em;padding:0.5em 1em;text-decoration:none;width:auto;background-color:rgb(11,83,148);margin-left:0px">Start Discovering!</a></div>
<div style="color:rgb(34,34,34);font-family:arial;font-size:small"><div>&nbsp;</div><div><br></div><div>If there are any images or features you&#39;d like to see, feel free to drop us a line and let us know.</div><div>&nbsp;</div>
<div><br></div></div><div style="color:rgb(34,34,34);font-family:arial;font-size:small">Thanks!</div><div style="color:rgb(34,34,34);font-family:arial;font-size:small">&nbsp;</div><div style="color:rgb(34,34,34);font-family:arial;font-size:small">
The Beautify Team</div></div></blockquote><blockquote style="margin:0px;border:none;padding:0px"><div style="background-color:rgb(48,48,48);padding:2px 16px"><a href="https://www.getbeautify.com/" target="_blank" style="border:0px solid rgb(255,255,255);float:left;text-decoration:none"><br>
<font color="#888888"><font color="#ffffff" face="georgia, serif" size="6"></font></font></a></div></blockquote></div><font color="#888888" style="font-family:arial,sans-serif;font-size:13px"></font></div>
