Welcome to Beautify, <%= @user.name %>!

Our goal is to help you effortlessly discover images you love, whether you want Monets, fashion or photography. To get the most out of Beautify, visit GetBeautify.com and follow these steps:

*1. Get Beautify for your browser*
For the full experience, install Beautify on your laptop or PC browser

*2 Personalize your experience*
'Like' images to save them to your Beautify history

*3 Share!*
Use the share button to let others see the images you love

Start Discovering at Getbeautify.com!

Also, if there are any images or features you'd like to see, feel free to drop us a line and let us know.

Thanks!

The Beautify Team