<li style="border-top:none;border-bottom:1px solid #e8e8e8;">
  <%= render image %><br/>
  <a href="<%= image.buy_url %>" target="_blank" onclick="_gaq.push(['_trackEvent', 'Like', 'Buy', '<%= image.id %>'])">Purchasing information</a><br/>
  <span class="timestamp">
    Posted <%= time_ago_in_words(like.created_at) %> ago.
  </span><br/><br/>
</li><br/><br/>
