<% provide(:title, "My Likes") %>
<div class="showuser">
  <h1>My Likes</h1>
  <% if @images.any? %>
    <div class="showuserimages">
      <%= render @images %>
    </div>
  <% else %>
    <div class="nolikes">You don't have any likes yet. To get started, open a <a href="<%= chromebrowse_path %>" target="_blank">new tab</a> and tell us which images you enjoy!</div>
    <%= link_to image_tag("howToLike.jpg"), chromebrowse_path, target: "_blank" %>
  <% end %>
</div>
