<% provide(:title, "Sign up") %>

<div class="signup">
  <h1>Beautify</h1>
  <%= form_for(@user) do |f| %>
    <%= render "fields", f: f %>
    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
  <% end %>
</div>

