<% provide(:title, "Edit user") %>

<div class="edituser">
  <h1>Beautify</h1>
  <%= form_for(@user) do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
  <% end %>
</div>

