@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.container-fluid {
  padding: 0;
}


/* typography */

body, input, button, select, textarea {
  font-family: 'Quattrocento Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Lora', serif;
  font-weight: normal;
}

h1 {
  font-size: 3em;
  margin: 0 0 90px 0;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 18px;
  line-height: 30px;
}


/* header */
header {
  .brand:hover {
    color: #333333;
  }
  sub {
    font-size: 50%;
  }
}


/* sidenav */

.lprow {
  padding-top: 70px;
}

.myLeftNav {
  width: 228px;
  .endSection {
    margin-bottom: 30px;
  }
}


/* footer */

footer {
  margin-top: 75px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  clear: both;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  .copyright {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/* likes */

.likes {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.timestamp {
  color: $grayLight;
}


/* TEMP? */

#likeForm {
  display: inline;
}