// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.webImage {
  margin-bottom: 40px;
  .mainImg {
    box-shadow: 2px 2px 12px 3px rgba(0,0,0,0.6);
  }
  .artist {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 7px;
  }
  .name {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 9px;
  }
  .controls {
    #dislikeform, #History {
      display: none;
    }
  }
}

.artistDiv, .catDiv, .srcDiv {
  margin-bottom: 60px;
  .artistName, .catName, .srcName {
    font-weight: bold;
    font-size: 30px;
  }
  .artistInfo, .catDesc, .srcDesc {
    margin-top: 15px;
    font-size: 16px;
  }
  .artistLink, .srcLink {
    margin-top: 10px;
    font-size: 16px;
  }
}
