// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newTab {
  padding-top:0;

  .controls {
    position: absolute;
    right: 11px;
    bottom: 14px;
  }

  #attr {
    position: absolute;
    left: 29px;
    bottom: 23px;
  }

  .imageContainer {
    display: table;
    height: 100%;
    width: 100%;

    .newTabImage {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.showImage {
  h1 {
    margin: 20px 0;
  }
  #caption {
    margin-bottom: 22px;
  }
  .imageContainer {
    margin: 60px 0 10px 0;
  }
  .controls {
    text-align: center;
    #dislikeform {
      display: none;
    }
  }
  #attr {
    padding-top: 9px;
  }
}

.newTabImage {
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  .mainImg {
    height: 75%;
    width: auto;
    max-height: 500px;
    max-width: 90%;
    margin-bottom: 30px;
    box-shadow: 2px 2px 12px 3px rgba(0,0,0,0.6);
  }
  .artist {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .name {
    font-style: italic;
    font-size: 20px;
  }
}

.controls {

  position: relative;
  bottom: 29px;

  #shareContainer {
    display: inline-block;
    width: 36px;
    margin-right: 6px;

    #shareBtns {
      width: 120px;
      left: -41px;
      bottom: 7px;
      position: relative;
      visibility: hidden;
      &.clicked {
        visibility: visible;
      }
      a {
        margin-left: 8px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &.invert #shareContainer #shareBtns {
    bottom: -72px;
  }

  .button {
    font-size: 20pt;
    margin: 0 3px;
    color: gray;
    text-align: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid lightgray;
    display: inline-block;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.3);
  }

  .button:hover {
    cursor: pointer;
  }

  .button:active {
    box-shadow: none;
  }

  #Like.clicked {
    background-color: #C2C2C2;
  }

  i {
    margin: 10px 0 0 1px;
  }

  form {
    margin: 0;
    display: inline-block;
  }
}

#loginModal {
  width: 400px;
  margin-left: -200px;
  .modal-header {
    padding: 15px 40px;
  }
  .modal-body {
    padding: 25px 40px 13px 40px;
  }
}