// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-unit {
  padding-top: 72px;
  padding-bottom: 86px;
  border-radius: 0;
  box-shadow: 2px 2px 12px 3px rgba(0,0,0,0.6);
  background-color: white;
  margin-top: 45px;

  h1 {
    padding-bottom: 35px;
  }
}


/* home */

.home
{
  h1 {
    font-size: 70px;
    margin: 0 0 50px 0;
  }
  p {
    font-size: 20px;
    line-height: 37px;
    margin: 0;
  }
  .row-fluid {
    padding: 70px 0;
  }
  .row-short {
    padding: 10px 0 0 0;
  }
  .row-title {
    padding: 10px 0 60px 0;
    text-align: center;
  }
  .row-last {
    padding: 0;
    text-align: center;
  }
  .row-white {
    background-color: white;
  }
  #hlogin {
    color: #555555;
    &:hover {
      color: #222222;
    }
  }
  #img1 {
    max-height: 360px;
    width: auto;
  }
  #title {
    margin: 30px 0 20px 0;
  }
  #subtitle {
    margin-bottom: 38px;
    color: #666362;
  }
}


/* signin, signup, edit user settings */

.signin, .signup, .edituser {
  width: 250px;
  margin: auto;
  form {
    margin-bottom: 0;
  }
  h1 {
    margin: 70px 0 40px 0;
  }
  input[type="text"], input[type="password"] {
    margin-bottom: 15px;
    width: 100%;
  }
}

.signin form {
  border-top:solid gray 1px;
  border-bottom:solid gray 1px;
  margin:34px 0 30px 0;
  padding: 30px 0 34px 0;
}

#signupbase {
  text-align: center;
  form {
    margin-bottom: 0;
  }
  h1 {
    margin: 70px 0 40px 0;
  }
  #subtitle {
    width: 429px;
    margin: auto;
    margin-bottom: 50px;
  }
  .or {
    margin: 7px 0;
  }
  .email {
    color:#333333;
  }
  #collage {
    margin-top: 50px;
  }
}

/* install */

#devices {
  margin-top: 70px;
  #install {
    p {
      margin-top: 20px;
    }
    button {
      margin-top: 15px;
    }
  }
  #checkback {
    margin-top: 70px;
  }
}


/* categories */

.category, .source
{
  box-shadow: 2px 2px 12px 3px rgba(0,0,0,0.6);
  height: 216px;
  padding-top: 25px;
  margin: 28px;
  border: 1px solid white;
  cursor: pointer;
  background-color: white;

  &:active {
    box-shadow: none;
    border: 1px solid lightgray;
  }

  &.clicked {
    background-color: lightblue;
    border-color: lightblue;
  }

  img {
    width: 170px;
    height: 170px;
  }
}

#set_cats
{
  padding: 0 60px;
  .promotedItems {
    background-color: #FFEFD5;
    .source {
      margin-bottom: 13px;
      margin-top: 10px;
    }
    h5 {
      margin-bottom: 36px;
    }
  }
  .promotedTitle {
    background-color: #FFEFD5;
    text-align: left;
    padding-left: 25px;
    padding-top: 10px;
  }
  .promotedLearn {
    background-color: #FFEFD5;
    text-align: center;
    .span3 {
      margin: 0 30px 9px 30px;
    }
  }
  h1 {
    margin-bottom: 20px;
  }
  h5 {
    margin-bottom: 40px;
  }
  .btn {
    margin-top: 30px;
  }
}
