// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showuser, .whatshot {
  h1 {
    margin: 0;
  }
  .showuserimages {
    margin-top: 90px;
  }
  .nolikes, .hotcaption {
    text-align: center;
    font-size: 19px;
    line-height: 25px;
  }
  .hotcaption {
    padding: 20px 100px 60px 100px;
  }
  .nolikes {
    padding: 50px 100px;
  }
}
