<meta property="fb:app_id" content="564327706941115" /> 
<meta property="og:type"   content="object" /> 
<meta property="og:url"    content="<%= image_url(image) %>" /> 
<meta property="og:title"  content="<%= image_display_name(image) %>" />
<meta property="og:image"  content="<%= image.image_url %>" />
<meta property="og:site_name"  content="Beautify" />
