<div class="row webImage">
  <div class="span5">
    <a href="<%= image.buy_url %>" target="_blank" onclick="_gaq.push(['_trackEvent'\
, 'History', 'Buy', '<%= image.id %>'])">
      <img class="mainImg" src="<%= image.image_url %>"/>
    </a>
  </div>
  <div class="span4">
    <div class="artist"><%= image.artist.name %></div>
    <div class="name"><%= image.name %></div>
    <%= render "new_tab/controls", image: image, invert: true %>
  </div>
</div>
