<% provide(:title, image_display_name(@image)) %>
<% provide(:extra_head, (render 'images/fbOgTagsForImage', image: @image)) %>
<div class="showImage center">
  <%= render 'layouts/fb' %>
  <% if !signed_in? %>
    <h1>Welcome to Beautify!</h1>
    <p id="caption">Our goal is to help you effortlessly discover images that you love. <%= link_to "Learn more", root_path, target: "_blank" %></p>
    <%= render "static_pages/install" %>
  <% end %>
  <div class="imageContainer">
    <%= render "new_tab/new_tab_image", image: @image %>
  </div>
  <%= render "new_tab/controls", image: @image, invert: true %>
</div>
