<div id="attr"><%= link_to "Beautify", if (signed_in?) then featured_path else root_path end, target: "_blank" %> © 2014, with help from <%= link_to image.source.name, image.source.link, target: "_blank" %>.</div>
