<div class="controls<%= if defined?(invert) && invert then " invert" end %>" image_url="<%=image_url(image) %>">
  <% titleScope = [:images, :browse, :titles] %>

  <%= form_for(Like.new, remote: true, html: { id: "likeform" }) do |l| %>
    <%= l.hidden_field :image_id, value: image.id %>
    <span id="Like" class="button" title="<%= t(:like, scope: titleScope) %>"><i class="icon-heart"></i></span>
  <% end %>

  <%= form_tag("/dislikes", remote: true, id: "dislikeform") do |l| %>
    <%= hidden_field_tag :image_id, value: image.id %>
    <span id="Dislike" class="button" title="<%= t(:dislike, scope: titleScope) %>"><i class="icon-arrow-right"></i></span>
  <% end %>

  <div id="shareContainer">
    <div id="shareBtns">
      <a id="Facebook" href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= u image_url(image) %>', '_blank', 'width=626,height=436')">
        <%=image_tag("facebook.png") %>
      </a>
      <a id="Twitter" href="#" onclick="window.open('https://twitter.com/share?url=<%= u image_url(image) %>&text=<%= u image_display_name(image) %>&via=GetBeautify', '_blank', 'width=550,height=257')">
        <%=image_tag("twitter.png") %>
      </a>
      <a id="Pinterest" href="#" onclick="window.open('//pinterest.com/pin/create/button/?url=<%= u image_url(image) %>&media=<%= u image.image_url %>&description=<%= u image_display_name(image) + ' - Discovered using GetBeautify.com' %>', '_blank', 'width=746,height=316')">
        <%= image_tag("pinterest.png") %>
      </a>
    </div>
    <span id="Share" class="button" title="<%= t(:share, scope: titleScope) %>">
      <i class="icon-share"></i>
    </span>
  </div>

  <%= link_to content_tag(:i, "", class: "icon-shopping-cart"), image.buy_url, id: "Shop", class: "button", title: t(:browse, scope: titleScope), target: "_blank" %>
  <%= link_to content_tag(:i, "", class: "icon-home"), if (signed_in?) then featured_path else root_path end, id: "History", class: "button", title: t(:home, scope: titleScope), target: "_blank" %>

</div>
