<div class="newTabImage">
  <a href="<%= image.buy_url %>" target="_blank" onclick="_gaq.push(['_trackEvent', 'Image', 'Buy', '<%= image.id %>'])">
    <img class="mainImg" src="<%= image.image_url %>"/>
  </a>
  <div class="artist"><%= image.artist.name %></div>
  <div class="name"><%= image.name %></div>
</div>
