$('<img/>')[0].src = "<%= Image.find(cookies[:next_image]).image_url %>"

var $imageContainer = $(".imageContainer");
var $controlsContainer = $(".controlsContainer");
var $attrContainer = $(".attrContainer");

var $newImage = $("<%= escape_javascript(render "new_tab_image", image: @image) %>");
var $newControls = $("<%= escape_javascript(render "controls", image: @image) %>");
var $newAttr = $("<%= escape_javascript(render "attribution", image: @image) %>");

var $oldImage = $(".newTabImage");
$newImage.css("display", "none");

$oldImage.fadeOut(200, function() {
  $controlsContainer.html($newControls);
  $attrContainer.html($newAttr);
  $imageContainer.html($newImage);
  window.initBrowsePage();
  $newImage.fadeIn(200);
});
