<html>
<head>
  <title>Beautify</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/pre_cache' %>
  <%= render 'layouts/ga' %>
  <link href='//fonts.googleapis.com/css?family=Lora|Quattrocento+Sans' rel='stylesheet' type='text/css'>
</head>
<body class="newTab">
  <%= render 'layouts/fb' %>
  <div class="imageContainer">
    <%= render "new_tab_image", image: @image %>
  </div>
  <div class="controlsContainer">
    <%= render "controls", image: @image %>
  </div>
  <div class="attrContainer">
    <%= render "attribution", image: @image %>
  </div>
</body>
</html>
