<footer class="footer">
  <div class="copyright">
    Beautify Copyright © 2014
  </div>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Feedback", feedback_path %></li>
      <li><%= link_to "Terms", terms_path %></li>
    </ul>
  </nav>
</footer>
