<ul class="nav nav-pills nav-stacked affix myLeftNav">
  <li><%= link_to "Featured", featured_path %></li>
  <li class="endSection"><%= link_to "What's hot?", top_path %></li>
  <li><%= link_to "My likes", mylikes_path %></li>
  <li><%= link_to "My categories", setcategories_path %></li>
  <li><%= link_to "My devices", devices_path %></li>
</ul>
