<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object#">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/pre_cache' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/ga' %>
    <link href='//fonts.googleapis.com/css?family=Lora|Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/objhpglpkbglppacglnkbaepdajkleec">
    <%= yield(:extra_head) %>
  </script>
  </head>
  <body>
    <%= render 'layouts/fb' %>
    <%= if !content_for?(:hide_header) then render 'layouts/header' end %>
    <div class="container<%= if content_for?(:fluid) then "-fluid" end%>">
      <% if !content_for?(:hide_flash) then flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end end %>
      <%= content_for?(:content) ? yield(:content) : yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
