<% provide(:hide_flash, true) %>
<% provide :content do %>
  <div class="row lprow">
    <div class="span3">
      <%= render 'layouts/left_pane' %>
    </div>
    <div class="span9 offset3">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
